/* Coolors Exported Palette - coolors.co/131a2b-3b9ec1-96939b-ff4360-ffffff */

/* HSL */
$color1: hsla(223%, 39%, 12%, 1);
$color2: hsla(196%, 53%, 49%, 1);
$color3: hsla(263%, 4%, 59%, 1);
$color4: hsla(351%, 100%, 63%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(19, 26, 43, 1);
$color2: rgba(59, 158, 193, 1);
$color3: rgba(150, 147, 155, 1);
$color4: rgba(255, 67, 96, 1);
$color5: rgba(255, 255, 255, 1);